<body style="background-color: #d9d9d9">
    <h2 id = "GenerationText">Generation : 1</h2>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>
    <script src="js/main.js"></script>
    <script src="js/stick.js"></script>
    <script src="js/population.js"></script>
    <script src="js/dna.js"></script>
    
</body>